body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#allProductViewContainer,
#allArtistViewContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#allProductViewContainer:after {
  display: flex;
  content: '';
  flex: 0 0 100%;
  max-width: 30vw;
}

#allArtistViewContainer:after {
  display: flex;
  content: '';
  flex: 0 0 100%;
  max-width: 30vw;
}

.allView {
  margin-bottom: 20px;
}

.singleViewContainer {
  display: flex;
}

.singleViewImgContainer,
.singleViewTextContainer {
  margin: 15px;
}
